.videoCard {
  max-width: 320px;
  cursor: pointer;
  transition: transform 300ms ease-in;
}
.videoCard:hover {
  transform: scale(1.08);
}

.videoCard.detail {
  display: flex;
  padding-right: 1rem;
}
.videoTitleBox {
  flex: 1 1 50%;
}
.videoThumbnails {
  width: 100%;
}
.videoThumbnails.detail {
  width: 50%;
  margin-right: 0.5rem;
}
.videoTitle {
  /* font-weight: bold; */
  /* font-size: 5rem; */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  padding-top: 3%;
  font-family: "Segoe UI";
  line-height: 16px;
}
.videoTitle.detail {
  padding-top: 0;
  /* line-height: 0; */
}
.channelTitle {
  padding-top: 4%;
  font-size: 0.8rem;
}
@media screen and (max-width: 48rem) {
  .videoCard {
    max-width: 100%;
  }
  .videoCard.detail {
    padding: 0;
    margin-right: 1rem;
  }
  .videoThumbnails {
    width: 100%;
  }
  .videoTitle {
    display: block;
    -webkit-line-clamp: inherit;
    -webkit-box-orient: inherit;
    text-overflow: inherit;
    overflow: inherit;
  }
}

@media screen and (min-width: 48.1rem) and (max-width: 1023px) {
  .videoCard {
    max-width: 100%;
  }
  .videoCard.detail {
    padding: 0;
    margin-right: 1rem;
  }
  .videoThumbnails {
    width: 100%;
  }
  .videoTitle {
    display: block;
    -webkit-line-clamp: inherit;
    -webkit-box-orient: inherit;
    text-overflow: inherit;
    overflow: inherit;
  }
}
