.videoSection {
  display: flex;
  padding-left: 2%;
  padding-right: 2%;
}
.sideBarSection {
  flex: 1 1 10%;
}
.videoList {
  flex: 1 1 90%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 1%;
  row-gap: 30px;
}
.videoList.main {
  display: grid;
}
.videoList.detail {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: 10px;
  margin: 0;
}

@media screen and (max-width: 1023px) {
  .videoList {
    grid-template-columns: repeat(2, 1fr);
  }
  .videoSection {
    width: 90%;
    margin: auto;
    padding: 0 1rem;
  }
}
@media screen and (min-width: 48.1rem) and (max-width: 1023px) {
  .videoList {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .videoList {
    grid-template-columns: repeat(5, 1fr);
  }
}
