.app {
}
.content {
  display: flex;
}
.detail {
  flex: 1 1 80%;
}
.main {
  flex: 1 1 20%;
}

@media screen and (max-width: 1023px) {
  .content {
    flex-direction: column;
  }
  .main {
    padding-top: 1rem;
  }
}
